# New York Air Quality

## Read dataset

In [2]:
import pandas as pd

df = pd.read_csv('./data/Air_Quality.csv', sep=',', decimal='.')

df.head(5)

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
0,336867,375,Nitrogen dioxide (NO2),Mean,ppb,CD,407,Flushing and Whitestone (CD7),Winter 2014-15,12/01/2014,23.97,NaN
1,336741,375,Nitrogen dioxide (NO2),Mean,ppb,CD,107,Upper West Side (CD7),Winter 2014-15,12/01/2014,27.42,NaN
2,550157,375,Nitrogen dioxide (NO2),Mean,ppb,CD,414,Rockaway and Broad Channel (CD14),Annual Average 2017,01/01/2017,12.55,NaN
3,412802,375,Nitrogen dioxide (NO2),Mean,ppb,CD,407,Flushing and Whitestone (CD7),Winter 2015-16,12/01/2015,22.63,NaN
4,412803,375,Nitrogen dioxide (NO2),Mean,ppb,CD,407,Flushing and Whitestone (CD7),Summer 2016,06/01/2016,14.00,NaN

## Investigating columns

### Data classification

It is not a homogeneous dataset because it has a vast variety of data types, such as

- Diseases frequency (asthma, cardiac and respiratory deaths, etc.)
- Inorganic chemical concentration in the air (O3, NO2, PM 2.5, Benzene)
- Emission of poluents (SO2, NOx, PM2.5)

In [3]:
df['Name']\
    .groupby(df['Name'])\
    .count()\
    .sort_values(ascending=False)

Name
Nitrogen dioxide (NO2)                                    6345
Fine particles (PM 2.5)                                   6345
Ozone (O3)                                                2115
Asthma emergency departments visits due to Ozone           480
Asthma hospitalizations due to Ozone                       480
Asthma emergency department visits due to PM2.5            480
Annual vehicle miles traveled (cars)                       321
Annual vehicle miles traveled                              321
Annual vehicle miles traveled (trucks)                     321
Cardiac and respiratory deaths due to Ozone                240
Cardiovascular hospitalizations due to PM2.5 (age 40+)     240
Respiratory hospitalizations due to PM2.5 (age 20+)        240
Deaths due to PM2.5                                        240
Outdoor Air Toxics - Formaldehyde                          203
Outdoor Air Toxics - Benzene                               203
Boiler Emissions- Total SO2 Emissions                       96
Boiler Emissions- Total NOx Emissions                       96
Boiler Emissions- Total PM2.5 Emissions                     96
Name: Name, dtype: int64

### Measure strategies

It's important to notice that there are different measures strategies on this dataset. 

So, one should assure that you're performing operations with data that has the same `Measure` and the same `Measure Info`

In [4]:
df['Measure']\
    .groupby(df['Measure'])\
    .count()\
    .sort_values(ascending=False)

Measure
Mean                                    14805
Million miles                             963
Estimated annual rate                     720
Estimated annual rate (age 18+)           720
Estimated annual rate (under age 18)      720
Annual average concentration              406
Number per km2                            288
Estimated annual rate (age 30+)           240
Name: Measure, dtype: int64

In [5]:
df['Measure Info']\
    .groupby(df['Measure Info'])\
    .count()\
    .sort_values(ascending=False)

Measure Info
ppb                     8460
mcg/m3                  6345
per 100,000 adults      1440
per square mile          963
per 100,000 children     720
Âµg/m3                   406
number                   288
per 100,000              240
Name: Measure Info, dtype: int64

### Geotypes

Here is an explanation of each geotype of this dataset

- UHF42 (United Hospital Fund) refers to an aglomerate of 42 public health areas
- CD refers to a community district
- UHF34 is the same as UHF42, but with 34 health areas
- Borough refers to a New York's district (Bronx, Brooklyn, Manhattan, Queens, and Staten Island)
- City wide

In [6]:
df['Geo Type Name']\
    .groupby(df['Geo Type Name'])\
    .count()\
    .sort_values(ascending=False)

Geo Type Name
UHF42       7392
CD          6844
UHF34       3570
Borough      880
Citywide     176
Name: Geo Type Name, dtype: int64

In [7]:
df[df['Geo Type Name'] == 'Borough']['Geo Place Name'].unique()

array(['Queens', 'Manhattan', 'Bronx', 'Brooklyn', 'Staten Island'],
      dtype=object)

### Time Period

In [8]:
df['Time Period']\
    .groupby(df['Time Period'])\
    .count()\
    .sort_values(ascending=False)

Time Period
2005-2007              480
2012-2014              480
2009-2011              480
2017-2019              480
2015-2017              480
Summer 2011            423
Summer 2012            423
Summer 2009            423
Summer 2010            423
Summer 2015            423
Summer 2023            423
Summer 2022            423
Summer 2021            423
Summer 2018            423
Summer 2017            423
Summer 2020            423
Summer 2019            423
Summer 2014            423
Summer 2016            423
Summer 2013            423
2005                   417
2010                   321
2019                   321
Annual Average 2014    282
Annual Average 2009    282
Annual Average 2022    282
Winter 2008-09         282
Winter 2009-10         282
Winter 2010-11         282
Annual Average 2021    282
Annual Average 2020    282
Annual Average 2019    282
Annual Average 2018    282
Annual Average 2013    282
Annual Average 2012    282
Annual Average 2011    282
Annual Average 2010    282
Annual Average 2017    282
Annual Average 2016    282
Annual Average 2015    282
Annual Average 2023    282
Winter 2015-16         282
Winter 2016-17         282
Winter 2017-18         282
Winter 2018-19         282
Winter 2011-12         282
Winter 2012-13         282
Winter 2013-14         282
Winter 2014-15         282
Winter 2019-20         282
Winter 2020-21         282
Winter 2021-22         282
Winter 2022-23         282
2011                   214
2013                   144
2015                   144
2014                    96
Name: Time Period, dtype: int64

## Study case

### Asthma hospitalizations due to Ozone

In [9]:
sample = df[df['Name'] == 'Asthma hospitalizations due to Ozone'][['Name', 'Measure', 'Geo Place Name', 'Geo Type Name', 'Data Value']]

sample.sort_values(by=['Geo Place Name'], ascending=False, inplace=True)

sample

,Name,Measure,Geo Place Name,Geo Type Name,Data Value
3087,Asthma hospitalizations due to Ozone,Estimated annual rate (age 18+),Willowbrook,UHF42,4.7
4980,Asthma hospitalizations due to Ozone,Estimated annual rate (age 18+),Willowbrook,UHF42,3.8
8005,Asthma hospitalizations due to Ozone,Estimated annual rate (under age 18),Willowbrook,UHF42,5.6
8008,Asthma hospitalizations due to Ozone,Estimated annual rate (under age 18),Willowbrook,UHF42,7.1
8343,Asthma hospitalizations due to Ozone,Estimated annual rate (age 18+),Willowbrook,UHF42,3.6
...,...,...,...,...,...
15561,Asthma hospitalizations due to Ozone,Estimated annual rate (age 18+),Bayside - Little Neck,UHF42,1.2
9122,Asthma hospitalizations due to Ozone,Estimated annual rate (age 18+),Bayside - Little Neck,UHF42,1.8
14104,Asthma hospitalizations due to Ozone,Estimated annual rate (under age 18),Bayside - Little Neck,UHF42,8.3
18803,Asthma hospitalizations due to Ozone,Estimated annual rate (age 18+),Bayside - Little Neck,UHF42,0.0
11464,Asthma hospitalizations due to Ozone,Estimated annual rate (under age 18),Bayside - Little Neck,UHF42,7.5