In [1]:
import pandas as pd
import numpy as np

df_air_quality = pd.read_csv('data/india_air_quality_daily_2015_to_2020.csv')
df_weather = pd.read_csv('data/india_weather_daily_data_combined_2010_to_2019.csv')

df_air_quality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29531 entries, 0 to 29530
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        29531 non-null  object
 1   Date        29531 non-null  object
 2   PM2.5       24933 non-null  float64
 3   PM10        18391 non-null  float64
 4   NO          25949 non-null  float64
 5   NO2         25946 non-null  float64
 6   NOx         25346 non-null  float64
 7   NH3         19203 non-null  float64
 8   CO          27472 non-null  float64
 9   SO2         25677 non-null  float64
 10  O3          25509 non-null  float64
 11  Benzene     23908 non-null  float64
 12  Toluene     21490 non-null  float64
 13  Xylene      11422 non-null  float64
 14  AQI         24850 non-null  float64
 15  AQI_Bucket  24850 non-null  object
dtypes: float64(13), object(3)
memory usage: 3.6+ MB

In [2]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182600 entries, 0 to 182599
Data columns (total 22 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   city_name                    182600 non-null  object
 1   datetime                     182600 non-null  object
 2   weather_code                 182600 non-null  float64
 3   temperature_2m_max           182600 non-null  float64
 4   temperature_2m_min           182600 non-null  float64
 5   temperature_2m_mean          182600 non-null  float64
 6   apparent_temperature_max     182600 non-null  float64
 7   apparent_temperature_min     182600 non-null  float64
 8   apparent_temperature_mean    182600 non-null  float64
 9   sunrise                      182600 non-null  object
 10  sunset                       182600 non-null  object
 11  daylight_duration            182600 non-null  float64
 12  sunshine_duration            182600 non-null  float64
 13  precipitation_sum            182600 non-null  float64
 14  rain_sum                     182600 non-null  float64
 15  snowfall_sum                 182600 non-null  float64
 16  precipitation_hours          182600 non-null  float64
 17  wind_speed_10m_max           182600 non-null  float64
 18  wind_gusts_10m_max           182600 non-null  float64
 19  wind_direction_10m_dominant  182600 non-null  float64
 20  shortwave_radiation_sum      182600 non-null  float64
 21  et0_fao_evapotranspiration   182599 non-null  float64
dtypes: float64(18), object(4)
memory usage: 30.6+ MB

In [3]:
# Filter weather and air quality dataframe only with the common cities
common_cities = np.intersect1d(df_weather['city_name'].unique(), df_air_quality['City'].unique())
df_weather_common_cities = df_weather[df_weather['city_name'].isin(common_cities)]
df_air_quality_common_cities = df_air_quality[df_air_quality['City'].isin(common_cities)]

In [4]:
df_weather_common_cities.groupby('city_name').count()

,datetime,weather_code,temperature_2m_max,temperature_2m_min,temperature_2m_mean,apparent_temperature_max,apparent_temperature_min,apparent_temperature_mean,sunrise,sunset,...,sunshine_duration,precipitation_sum,rain_sum,snowfall_sum,precipitation_hours,wind_speed_10m_max,wind_gusts_10m_max,wind_direction_10m_dominant,shortwave_radiation_sum,et0_fao_evapotranspiration
city_name,,,,,,,,,,,,,,,,,,,,,
Ahmedabad,3652,3652,3652,3652,3652,3652,3652,3652,3652,3652,...,3652,3652,3652,3652,3652,3652,3652,3652,3652,3652
Amritsar,3652,3652,3652,3652,3652,3652,3652,3652,3652,3652,...,3652,3652,3652,3652,3652,3652,3652,3652,3652,3652
Chennai,3652,3652,3652,3652,3652,3652,3652,3652,3652,3652,...,3652,3652,3652,3652,3652,3652,3652,3652,3652,3652
Delhi,3652,3652,3652,3652,3652,3652,3652,3652,3652,3652,...,3652,3652,3652,3652,3652,3652,3652,3652,3652,3652
Jaipur,3652,3652,3652,3652,3652,3652,3652,3652,3652,3652,...,3652,3652,3652,3652,3652,3652,3652,3652,3652,3652
Lucknow,3652,3652,3652,3652,3652,3652,3652,3652,3652,3652,...,3652,3652,3652,3652,3652,3652,3652,3652,3652,3652
Mumbai,3652,3652,3652,3652,3652,3652,3652,3652,3652,3652,...,3652,3652,3652,3652,3652,3652,3652,3652,3652,3652
Patna,3652,3652,3652,3652,3652,3652,3652,3652,3652,3652,...,3652,3652,3652,3652,3652,3652,3652,3652,3652,3652

In [5]:
df_air_quality_common_cities.groupby('City').count()

,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
City,,,,,,,,,,,,,,,
Ahmedabad,2009,1381,407,1400,1401,1415,0,1400,1369,1324,1526,1526,1525,1334,1334
Amritsar,1221,1093,1158,1128,1177,932,1179,1145,1053,1106,1026,1009,1008,1126,1126
Chennai,2009,1892,302,1973,1973,1973,1547,1984,1973,1960,1724,1756,0,1884,1884
Delhi,2009,2007,1932,2007,2007,2009,2000,2009,1899,1925,2009,2009,1228,1999,1999
Jaipur,1114,1102,1100,1098,1100,1002,1099,1107,1102,1099,1092,1091,0,1094,1094
Lucknow,2009,1907,0,1985,1985,1685,1005,1981,1945,1982,1910,1873,0,1893,1893
Mumbai,2009,784,763,767,756,1510,395,1984,789,797,1799,1016,1015,775,775
Patna,1858,1537,191,1655,1654,1655,191,1707,1653,1580,1686,1685,1686,1459,1459

In [13]:
print(
df_air_quality[df_air_quality['City'] == "Jaipur"]['Date'].min(),
df_air_quality[df_air_quality['City'] == "Jaipur"]['Date'].max()
)

2017-06-14 2020-07-01

In [14]:
print(
df_weather[df_weather['city_name'] == "Jaipur"]['datetime'].min(),
df_weather[df_weather['city_name'] == "Jaipur"]['datetime'].max()
)

2010-01-01 2019-12-31

### Objetivo final

Prever condições climáticas que possam influenciar numa melhora ou queda na qualidade do ar em qualquer cidade India.