# Trabalho 1 - Parte I - Projeto de Análise de Dados

## Dataset escolhido

*NYC OpenData Air Quality*. Disponível em: [https://data.cityofnewyork.us/Environment/Air-Quality/c3uy-2p5r/about_data](https://data.cityofnewyork.us/Environment/Air-Quality/c3uy-2p5r/about_data)

## Explicação do dataset

O *NYC OpenData Air Quality* reúne registros de diversos indicadores relacionados à qualidade do ar na cidade de Nova Iorque (EUA).

Para os projetos que serão desenvolvidos nesta disciplina, serão aproveitados especialmente os indicadores ligados à área da saúde, como a concentração de substâncias químicas na atmosfera, a frequência de casos de doenças respiratórias e cardíacas associadas a essas substâncias, além do número de hospitalizações e óbitos decorrentes dessas condições.

O dataset possui aproximadamente 18,9 mil registros, distribuídos em 12 colunas.

Na tabela a seguir estão as descrições de cada uma dessas colunas

| Coluna             | Descrição                                                                                             | Tipo                   |
|--------------------|-------------------------------------------------------------------------------------------------------|------------------------|
| `Unique ID`        | Identificador único do registro                                                                       | Text                   |
| `Indicator ID`     | Identificador do tipo de valor medido ao longo do tempo e do espaço                                   | Number                 |
| `Name`             | Nome do indicador                                                                                     | Text                   |
| `Measure`          | Forma como o indicador é medido                                                                       | Text                   |
| `Measure Info`     | Informações (como unidades) sobre a medida                                                            | Text                   |
| `Geo Type Name`    | Tipo de geografia; 'UHF' refere-se a bairros do United Hospital Fund; exemplos: Citywide, Borough etc.| Text                   |
| `Geo Join ID`      | Identificador da área geográfica do bairro, usado para criar mapas temáticos                          | Text                   |
| `Geo Place Name`   | Nome do bairro                                                                                        | Text                   |
| `Time Period`      | Descrição do período ao qual os dados se referem; pode ser um ano, intervalo de anos ou estação       | Text                   |
| `Start_Date`       | Valor de data para o início do `time_period`; sempre uma data; útil para séries temporais             | Floating Timestamp     |
| `Data Value`       | Valor real dos dados para este indicador, medida, local e tempo                                       | Number                 |
| `Message`          | Notas aplicáveis ao `data_value`; ex: se uma estimativa é baseada em números pequenos                 | Text                   |

In [11]:
import pandas as pd

df = pd.read_csv('../data/Air_Quality.csv', sep=',', decimal='.')

print(df.shape)

df.head()

(18862, 12)

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
0,336867,375,Nitrogen dioxide (NO2),Mean,ppb,CD,407,Flushing and Whitestone (CD7),Winter 2014-15,12/01/2014,23.97,NaN
1,336741,375,Nitrogen dioxide (NO2),Mean,ppb,CD,107,Upper West Side (CD7),Winter 2014-15,12/01/2014,27.42,NaN
2,550157,375,Nitrogen dioxide (NO2),Mean,ppb,CD,414,Rockaway and Broad Channel (CD14),Annual Average 2017,01/01/2017,12.55,NaN
3,412802,375,Nitrogen dioxide (NO2),Mean,ppb,CD,407,Flushing and Whitestone (CD7),Winter 2015-16,12/01/2015,22.63,NaN
4,412803,375,Nitrogen dioxide (NO2),Mean,ppb,CD,407,Flushing and Whitestone (CD7),Summer 2016,06/01/2016,14.00,NaN

## Investigação de dados faltantes

Os dados faltantes do DataFrame obtido do CSV desse dataset se concentram apenas na coluna `Message`, que não interfere em análises futuras.

In [9]:
df.isna().sum()

Unique ID             0
Indicator ID          0
Name                  0
Measure               0
Measure Info          0
Geo Type Name         0
Geo Join ID           0
Geo Place Name        0
Time Period           0
Start_Date            0
Data Value            0
Message           18862
dtype: int64

## Análises pretendidas